<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Veli'Find</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free Website Template" name="keywords">
  <meta content="Free Website Template" name="description">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="assets/brand_img.png" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="../../common/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../common/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../common/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="../../common/css/style.css" rel="stylesheet">
</head>

<body>
<!-- Top Bar Start -->
<div class="top-bar d-none d-md-block">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-6 col-md-6">
        <div class="top-bar-right">
          <div class="social">
            <a href="https://twitter.com/velib"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Velib.Metropole"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/velibmetropole/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a href="index.html" class="navbar-brand">
      <img src="assets/brand_img.png" alt="">
      Veli'Find
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <a href="index.html" class="nav-item nav-link">Home</a>
        <a href="" class="nav-item nav-link">Stations List</a>
        <a href="" class="nav-item nav-link">Stations Map</a>
        <a href="about.html" class="nav-item nav-link active">About</a>
        <a href="contact.html" class="nav-item nav-link">Contact</a>
      </div>
    </div>
  </div>
</div>
<!-- Nav Bar End -->

<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>About Us</h2>
      </div>
      <div class="col-12">
        <a href="">Home</a>
        <a href="">About Us</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <div class="about-img">
          <img src="assets/about .jpg" alt="">
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="section-header text-left">
          <p>Learn About Us</p>
          <h2>Veli'Find</h2>
        </div>
        <div class="about-text">
          <p>
            Veli'Find is an application that offers you several features.
          </p>
          <p>
            Stations List: Display the information of a bicycle station.
          </p>
          <p>
            Station Map: display on a map the neareset station.
          </p>
          <p>
            Contact : you can send us your complaints, your comments or a simple boost
          </p>
          <p>
            About : information about our our website.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Footer Start -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-contact">
              <h2>Address</h2>
              <p><i class="fa fa-map-marker-alt"></i>1 avenue du Général de Gaulle, 92 074 Paris La Défense cedex</p>
              <p><i class="fa fa-phone-alt"></i>01 76 49 12 34</p>
              <p><i class="fa fa-envelope"></i>service-client@velib-metropole.fr</p>
              <div class="footer-social">
                <a href="https://twitter.com/velib"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/Velib.Metropole"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/velibmetropole/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-newsletter">
          <h2>Newsletter</h2>
          <p>
            All the news of Veli'Find not to be missed
          </p>
          <div class="form">
            <input class="form-control" placeholder="Email goes here">
            <button class="btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container copyright">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; <a href="#">Veli'Find</a>, All Right Reserved.</p>
      </div>
      <div class="col-md-6">
        <p>Designed By <span>Merwane Amine Amrani - Aymene Adnane</span></p>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../../common/lib/easing/easing.min.js"></script>
<script src="../../common/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../common/lib/isotope/isotope.pkgd.min.js"></script>
<script src="../../common/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="../../common/js/main.js"></script>
</body>
</html>
