agm-map {
  height: 600px;
}

.map {
  border: 2px solid #17A2B8;
}
section {
  background-color: #FFFFFF;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.search-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 10px 0 10px;
}

#menu  {
  width:250px;
  position:absolute;
}

#contenu {
  margin-left:260px;

}

.main {
  margin-top: 100px;

  max-with:1100px;
}

#result{
  margin-top: 20px;
  padding-left: 10px;
  width:200px;
}
.ex-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
td, th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color:#f5f5f5;
}

.name{
  text-align: left;
  padding-left: 20px;
}

.card-box{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
#tab-card-box {
  margin-left:205px;
}

#filtre-card-box {
  float:left;
  width:200px;
}

.mat-raised-button{
  margin-left: 150px;
}

/*******************************/
/********* General CSS *********/
/*******************************/
body {
  color: #797979;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a2b43a;
}

a {
  color: #454545;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #59b0e3;
  outline: none;
  text-decoration: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #59b0e3;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top:hover {
  background: #a2b43a;
}

.back-to-top:hover i {
  color: #59b0e3;
}

.back-to-top i {
  color: #a2b43a;
  padding-top: 10px;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
  position: relative;
  height: 60px;
  background: #a2b43a;
}

.top-bar .top-bar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-bar .top-bar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-bar .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text:last-child {
  border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text h2 {
  color: #eeeeee;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
}

.top-bar .text p {
  color: #eeeeee;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.top-bar .social {
  display: flex;
  height: 60px;
  font-size: 0;
  justify-content: flex-end;
}

.top-bar .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
  font-size: 22px;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
  border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
  color: #59b0e3;
  background: #ffffff;
}

@media (min-width: 992px) {
  .top-bar {
    padding: 0 60px;
  }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  position: relative;
  transition: .5s;
  z-index: 999;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  font-weight: 600;
  margin-top: 05px;
}

.navbar .navbar-brand span {
  font-weight: 800;
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
  margin-top: -5px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  background: rgba(256, 256, 256, .1);
  transition: none;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    top: 60px;
    padding: 20px 60px;
    background: #59b0e3 !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #a2b43a !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #a2b43a !important;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

.nav-text{
  padding-left: 50px;
}
/* 1d2434 */
