<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Carte des Stations</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free Website Template" name="keywords">
  <meta content="Free Website Template" name="description">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../../../assets/brand_img.png"/>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

</head>

<body>
<!-- Top Bar Start -->
<div class="top-bar d-none d-md-block">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-6 col-md-6">
        <div class="top-bar-right">
          <div class="social">
            <a href="https://twitter.com/velib"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Velib.Metropole"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/velibmetropole/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div  class=" navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a (click)="toHome()" class="navbar-brand">
      <img src="../../../assets/brand_img.png" alt="">
      <p class="nav-text">Veli'Find</p>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link " (click)="toHome()">Home</a>
        <a class="nav-item nav-link " (click)="toList()">Stations List</a>
        <a class="nav-item nav-link active" (click)="toMap()">Stations Map</a>
      </div>
    </div>
  </div>
</div>
<!-- Nav Bar End -->
<div class="main">
  <mat-card>
    <div class="para" xmlns:staion="http://www.w3.org/1999/xhtml">

       <!-- <input type="text" class="input-sm form-control" (keydown.enter)="$event.preventDefault()"
               placeholder="Nom de station..." autocorrect="on" autocapitalize="off" spellcheck="off" type="text" #search>
        -->
      <!--////////////////////////////////////////////-->
      <div class="container">
        <div class="container" *ngIf="finalMarker">

          <h1>MAPS</h1>

          <agm-map [latitude]='curentLocalisation[0]' [longitude]='curentLocalisation[1]' [zoom]='zoom'>

            <agm-marker *ngFor="let marker of finalMarker" [latitude]="marker.lat" [longitude]="marker.long"
                        [iconUrl]="icon">
              <agm-info-window #infoWindow>

                <p class="h2">Station: {{ marker.name }}</p>
                <p *ngIf="marker.etat" class="font-weight-bold text-success">Disponible</p>
                <p *ngIf="!marker.etat" class="font-weight-bold text-danger">Non Disponnible</p>
                <p><span class="font-italic pr-1">Vélos disponibles :</span> {{ marker.bikes }}</p>
                <p><span class="font-italic pr-1"> Emplacements disponibles :</span> {{ marker.places }}</p>

              </agm-info-window>
            </agm-marker>
            <agm-circle [latitude]="curentLocalisation[0]" [longitude]="curentLocalisation[1]"
                        [radius]="1000"
                        [fillColor]="'red'">
            </agm-circle>

          </agm-map>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!-- Footer Start -->

<div class="container copyright">
  <div class="row">
    <div class="col-md-6">
      <p>&copy; <a href="#">Veli'Find</a>, All Right Reserved.</p>
    </div>
    <div class="col-md-6">
      <p>Designed By <span>Merwane Amine Amrani - Aymene Adnane</span></p>
    </div>
  </div>
</div>
<!-- Footer End -->
</body>
</html>
