<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Liste des stations</a>
  <div class="form-inline my-2 my-lg-0">

    <input  (keyup)="searchStation ()" [(ngModel)]="searchStations" class="form-control mr-sm-2" type="text" placeholder="Search Station">
    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></span>

  </div>
</nav>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Noms des stations</th>
    <th scope="col">Arrondissement</th>
    <th scope="col">capacity</th>
    <th scope="col">Vélos Mécaniques</th>
    <th scope="col">Vélos disponibles</th>
    <th scope="col">Dernières mises à jour</th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let station of finalStations;let i = index" >
    <td> {{i+1}} - {{station.name}}</td>
    <td> {{station.nom_arrondissement_communes}}</td>
    <td>{{station.capacity}}</td>
    <td> {{station.mechanical}}</td>
    <td>{{station.numbikesavailable}}</td>
    <td>{{station.duedate}}</td>

  </tr>
  </tbody>
</table>


