<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Veli'Find</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free Website Template" name="keywords">
  <meta content="Free Website Template" name="description">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../../../assets/brand_img.png"/>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="../../common/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../common/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../common/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="../../common/css/style.css" rel="stylesheet">
</head>

<body>
<!-- Top Bar Start -->
<div class="top-bar d-none d-md-block">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-6 col-md-6">
        <div class="top-bar-right">
          <div class="social">
            <a href="https://twitter.com/velib"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Velib.Metropole"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/velibmetropole/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div  class=" navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a (click)="toHome()" class="navbar-brand">
      <img src="../../../assets/brand_img.png" alt="">
      <p class="nav-text">Veli'Find</p>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" (click)="toHome()">Home</a>
        <a class="nav-item nav-link" (click)="toList()">Stations List</a>
        <a class="nav-item nav-link" (click)="toMap()">Stations Map</a>
      </div>
    </div>
  </div>
</div>
<!-- Nav Bar End -->


<!-- Hero Start -->
<div class="hero">
  <div class="logo-container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="hero-text">
          <h1>Veli'Find</h1>
          <p>
            We help you find and rent a bicycle to help you get where you need to be easily.
          </p>
          <a class="btn" >Find it now</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 d-none d-md-block">
        <div class="hero-image">
          <img src="../../../assets/img1.jpeg" alt="Hero Image">
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Hero End -->


<!-- Service Start -->
<div class="service">
  <div class="container">
    <div class="section-header text-center">
      <p>Our Services</p>
      <h2>We can help you to </h2>
    </div>
    <div class="row">
      <div class="offset-lg-1 col-lg-4 col-md-6">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img3.jpg" alt="Image">
          </div>
          <h3>Find Stations</h3>
          <p>
            Find the nearest station.
          </p>
          <a class="btn" (click)="toList()">Learn More</a>
        </div>
      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img2.jpg" alt="Image" width="220px" height="200px">
          </div>
          <h3>Localisation</h3>
          <p>
            locate your station on map.
          </p>
          <a class="btn" (click)="toMap()">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Footer Start -->

  <div class="container copyright">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; <a href="#">Veli'Find</a>, All Right Reserved.</p>
      </div>
      <div class="col-md-6">
        <p>Designed By <span>Merwane Amine Amrani - Aymene Adnane</span></p>
      </div>
    </div>
  </div>

<!-- Footer End -->


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../../common/lib/easing/easing.min.js"></script>
<script src="../../common/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../common/lib/isotope/isotope.pkgd.min.js"></script>
<script src="../../common/lib/lightbox/js/lightbox.min.js"></script>


<!-- Template Javascript -->
<script src="../../common/js/main.js"></script>
</body>
</html>
